@import url('https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    /* --colorprincipal:#f33030; */
    /* --colorprincipal:#8bc34a; */
    --colorprincipal:#FF5722;;
}
.card{
    background: #f3f3f3;
}
.card h2 span{
    color: var(--colorprincipal);
    /* font-family: 'Great Vibes', cursive; */
}
.card-body form input{
    padding: 1.1em;
    color: #010101;
    font-size: 17px;
    outline: none;
    background: none;
    font-weight: 500;
    border: 1px solid #999999;
}
/* , .card-body form input:hover + .card-body form input:focus */
.card-body form input:hover {
    border: 1px solid var(--colorprincipal);
}
.card-body form input:focus{
   box-shadow: none;
   color: #010101;
   border: 1px solid #999999;
   background: none;
}
.card-body form .form-check{
    color: #999999;
}
.card-body form .btn-link{
    color: var(--colorprincipal);
}
.card-body form .btnSubmit{
    background: var(--colorprincipal);
    border-color: var(--colorprincipal);
    width: 100%;
    color: #fff;
    padding: 0.5em;
    transition: all 0.5s;
}
.card-body form .btnLogIn:hover{
    background: #010101;
}
.card-body form .register{
    border: 1px solid #999999;
    border-radius: .25rem;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;

    display: table;
	height:40px;

}
.card-body form .register p{
    color: #999999;
    display: table-cell;
	vertical-align: middle;

}
